@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .heading {
    margin-bottom: 50px;
  }

  .input {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .nextButton {
    @include button(BlackBackround);
    margin-top: auto;
  }
}
