@import '~assets/css/variable.scss';
@import '~assets/css/styles.scss';

.stepperWrapper {
  margin-top: 60px;

  @include media(S) {
    margin-top: 0;
  }

  .stepperMain {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    @include media(S) {
      margin-top: 0;
    }
    
    .formWrapper {
      flex: 0.9;

      @include media(S) {
        flex: 1;
      }
    }
  }
}
