@import "~assets/css/variable.scss";
@import "~assets/css/styles.scss";

.card {
  padding-bottom: 20px;
  margin: 5px;
  padding: 15px;
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .avatarBox {
    display: flex;
  }
  .body {
    display: flex;
    flex-direction: column;
  }

  .name {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-left: 5px;
  }

  .jobTitle {
    font-size: 16px;
    color: #6366aa;
    margin-top: 5px;
    margin-left: 5px;
  }

  .details {
    font-size: 16px;
    position: relative;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    .title {
      display: inline-block;
    }

    .info {
      color: #838383;
      display: inline-block;
      position: relative;
      margin-left: 5px;
      top: 0;

      .status {
        color: #d87b26;
      }
    }
  }

  .statusBox {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  .button {
    margin: 0 0 1px;
    text-transform: none;
    margin-top: 5px;
    p {
      // margin: 0 25px;
      font-size: 14px;
    }

    &:hover {
      background-color: $secondaryColor;
      color: $primaryColor;
    }
  }
}
